TENANT=localhost
APPLICATION=localhost


LLM_MODEL=haiku
LLM_CACHE_ENABLED="no"


AGGREGATOR_SESSIONS_LOG_URL=/tmp/save
LOG_LEVEL=INFO

REDACT_SUBJECT="redact-log"
REDACT_MAX_TASKS=64

AWS_REGION_S3="eu-west-1"
AWS_SESSION_TOKEN=""


NO_COLOR=1