TENANT=localhost
APPLICATION=localhost
AGGREGATOR_SESSIONS_LOG_URL=/tmp/save
LLM_MODEL=haiku
LOG_LEVEL=DEBUG

REDACT_SUBJECT="redact-log"
REDACT_MAX_TASKS=64

AWS_REGION_S3="eu-west-1"
AWS_SESSION_TOKEN=""
REDACT_CACHE_ENABLED="no"
NO_COLOR=1