TENANT=localhost
APPLICATION=localhost

LLM_MODEL=haiku
LLM_CACHE_ENABLED="y"

AGGREGATOR_SESSIONS_LOG_URL=/tmp/save

REDACT_SUBJECT="redact-log"
REDACT_MAX_TASKS=16

AWS_REGION_S3="eu-west-1"
AWS_SESSION_TOKEN=""

LOG_LEVEL=INFO
NO_COLOR=1